/* main {
  width: 900px;
  margin: 0 auto;
}
header {
  width: 900px;
  margin: 0 auto;
  height: 100px;
  align-items: baseline;
}
header nav {
    float: right;
    display: inline;
    position: absolute;
    top: 23px;
    width: 536px;
    right: 145px;
}
header div{
    margin: 31px 0 32px 0;
}

header h1,
header h5 {
  display: inline;
}


h1{
    font-style: italic;
}
header img {
  float: left;
  clear: both;
  margin: 14px 2px;
}
hr {
  border-top: 5px groove;
  
}
header nav ul li{
    display: inline;
    float: left;
}
nav{
    width: 400px;
}
#ul{
    margin-right: 5px;
} */

html,
body {
  width: 100%;
  height: 100%;
}
header {
  margin: 0 10%;
  border-bottom: solid;
  padding-bottom: 20px;
  border-bottom-color: gray;
  border-bottom-style: inset;
  border-bottom-width: 20px;
}
main {
  margin: 0 10%;
  margin-top: 75px;
}

.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
header:after {
  content: '';
  clear: both;
  display: block;
}
li {
  display: inline-block;
}
.img {
  width: 100%;
}
.margin-ul {
  margin: 0 15px;
}

.margin-head {
  margin-top: 30px;
}
.h1 {
  margin: 5px 5px;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
}
.p-margin {
  margin: 25px 0;
  line-height: 25px;
  font-size: 18px;
}

.main-p {
  font-size: 18px;
  color: grey;
}
.h2 {
  font-size: 40px;
  font-weight: bolder;
  font-family: fantasy;
}

.p {
  display: inline-block;
  color: grey;
}

.posti {
  position: relative;
  bottom: 25px;
}

.h1 {
  font-size: 30px;
  font-style: italic;
  font-weight: bolder;
}
.h5{
  font-size: 11px;
  color: gray;
}
.up{
  position: relative;
  top: -6px;
  left: 6px;  
  
}
nav{
  margin-top: 52px;
}